@font-face {
    font-family: 'DotGothic16';
    src: url('../fonts/dotgotic16/DotGothic16-Regular.eot');
    src: local('DotGothic16 Regular'), local('DotGothic16-Regular'),
        url('../fonts/dotgotic16/DotGothic16-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/dotgotic16/DotGothic16-Regular.woff2') format('woff2'),
        url('../fonts/dotgotic16/DotGothic16-Regular.woff') format('woff'),
        url('../fonts/dotgotic16/DotGothic16-Regular.ttf') format('truetype');
}