.show {
	display: block;
}

.hide {
	display: none;
}

.text-active {
	opacity: 1;
	transition: all .4s;
}

.inactive {
	cursor: default;
	pointer-events: none;
}

@media (max-width: 40em) {
	.slide-fullscreen {
		top: 26rem;
	}
}

@media (max-width: 40em) {
	.slide-music {
		top: 44rem;
	}
}

@media (max-width: 40em) {
	.slide-lang {
		top: 62rem;
	}
}